
<h3> Customer Work Items</h3>
<h4 id='customerInfo'><%= "#{@customer.first_name} #{@customer.last_name}" %></h4>
<div class='scrollqueue'>
<table id='status-table' class='queue'>
<thead>
  <tr>
    <th class='table-col'>Status</th>
    <th class='table-col'>Process</th>
    <th class='table-col'>Created</th>
    <!-- <th>Action</th>
    <th>Customer</th>
    <th>Assigned</th> -->
  </tr>
</thead>





<tbody id='status-body'>
  <% @results.each do |item|%>
  <tr class='status-row' data-work-history="
  <%= item['history_text'] %>
   "><td class='table-col'>
    <%= item["status"] %>
  </td><td class='table-col'>
    <%= item["title"] %>
    </td><td class='table-col'>
    <%= item["created_at"] %>
    </td>
  </tr>
  <% end %>

</tbody>

</table>
</div>
<div>
  <div>
    <h4>History:</h4>
  </div>
  <textarea rows="6" cols="50" id='status-history' readonly class='customer-info-content'> </textarea>
</div>
