<!DOCTYPE html>
<html>
  <head>
    <title>Web Workflow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to image_tag("logo.png"), '/', id: "logo" %>


            <div id="searchfield" class='search2'>


              <form id='autoCompleteParent'><input type="text" name="user" class="biginput ui-autocomplete-input" id="autocomplete" placeholder="Search by Customer Last Name"></form>
            </div>




        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
            <li><%= link_to current_user.name, work_items_path %></li>
            <li>



    <div class="dropdown">

    <button class="nav dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Menu
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/teams?all=1">New Business Process</a></li>
    <li role="presentation">

      <%= link_to 'New Customer', new_customer_path,  {:remote => true,  'data-target' => '#myModal'}  %>
    </li>
    <% if current_user && my_team %>
       <% if my_team.user == current_user %>
    <li role='presentation'><%=  link_to 'Edit my team', edit_team_path(my_team.id) %></li>
    <% end %>
    <% end %>
    <div id='dynamic-items'></div>



    <li role="presentation" class="divider"></li>
    <li role="presentation">
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    </li>
    </ul>
    </div>




            <% else %>
            <li><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li>
             <% end %>

          </ul>
        </nav>
      </div>
    </header>



    <div class="container">
      <%= yield %>
    </div>


    <footer class="footer">
      <div class="container">
        <p class="pull-right">©2016 WWF — Web Workflow Inc.</p>
      </div>
    </footer>
    <div class="modal fade" id="myModal" role="dialog">
    </div>
    <div class="modal fade" id="workItemModal" data='' role="dialog">
    </div>


  </body>
</html>
