<!DOCTYPE html>
<html>
  <head>
    <title>Web Workflow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "WWF — Web Workflow", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
            <li><%= link_to current_user.name, id: "user-name" %></li>
            <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
            <li id='new_customer'>

            <%= link_to 'New Customer', new_customer_path,  {:remote => true,  'data-target' => '#myModal'}  %>
            </li>
            <% else %>
            <li><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li>
             <% end %>
            <li><%= link_to "Home", '#' %></li>
            <li><%= link_to "Help", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>



    <div class="container">
      <%= yield %>
    </div>


      <div class="navbar navbar-default navbar-fixed-bottom">
          <div class="container">
            <p class="navbar-text pull-right">©2016 WWF — Web Workflow Inc.</p>
          </div>
      </div>
      <div class="modal fade" id="myModal" role="dialog">
      </div>

  </body>
</html>
